@page "/"

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title> CZ Pronos </title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">


</head>
<body>
    <div class="div1">
        <center>
            <img src="images/logo.png" alt="Merci de votre visite" />
            <br>
            <br>
            <h1 class="div1_text"> Massive Bet Online </h1>
            <br>
            <br>


            <div class="text">
                <p>Comment rendre Le pari E-Sportif</p>
                <p>
                    <span class="word wisteria">attrayant?</span>
                    <span class="word belize">amusant?</span>
                    <span class="word pomegranate">colllaboratif?</span>
                </p>
            </div>
            <br>

        </center>
        </div>
        <div class="div2">
            <div class="row">
                <div class="col-12 col-md-12"><h3 class="div2_text1">Team Vitality semble avoir (re)trouvé la bonne formule. L’équipe française est toujours invaincue dans le tournoi européen en ligne de la DreamHack Fall. Qualifiée pour la finale de l’upper bracket, le titre n’est plus très loin pour la ruche.</h3></div>
            </div>
        </div>
        <div class="div3">
            <div class="row">
                <div class="col-12 col-md-12"><h3 class="div2_text1">En ce moment, le tournois CS GO, ESL Winter 2020 est en cours, soyez présent pour la demi final le 1 novembre 2020 sur toutes les chaines de streaming.</h3></div>
            </div>
        </div>
        <div class="div4">
            <center>
                <h6>(C)2019 Massive Bet Online. Tous droits réservés</h6>
                <button> <i class="icon-facebook" /></button>  <button> <i class="icon-twitter" /></button> <button> <i class="icon-instagram" /></button>
            </center>
        </div>
    </body>

