@page "/"

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title> CZ Pronos </title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">


</head>
<body>
    <div class="div1">
        <center>
            <br>
            <br>
            <h1 class="div1_text"> BOBZOUZ Pronos </h1>
            <div class="text">
                <p>Bbzz Pronos c'est </p>
                <p>
                    <span class="word wisteria">luxueux</span>
                    <span class="word belize">mmhhhh</span>
                    <span class="word pomegranate">realshit</span>
                    <span class="word green">nul</span>
                    <span class="word midnight">yoooo</span>
                </p>
            </div>
            <br>
            <h3 class="div1_text2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin ac orci phasellus egestas tellus. Sagittis eu volutpat odio facilisis mauris. Odio facilisis mauris sit amet massa vitae tortor condimentum. </h3>
            <div class="container">
                <div class="row row_pers">
                    <div class="col-sm">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                    <div class="col-sm">
                        Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Tempor orci eu lobortis elementum nibh tellus molestie nunc. Adipiscing elit duis tristique sollicitudin nibh sit amet.
                    </div>
                    <div class="col-sm">
                        Dignissim convallis aenean et tortor at risus viverra. Fringilla urna porttitor rhoncus dolor purus non enim. Aliquam sem et tortor consequat id porta nibh venenatis cras.
                    </div>
                </div>
            </div>
        </center>
    </div>
    <div class="div2">
        <div class="row">
            <div class="col-12 col-md-12"><h3 class="div2_text1">In hac habitasse platea dictumst quisque sagittis purus.<br>Gravida in fermentum et sollicitudin ac orci phasellus.</h3></div>
        </div>
    </div>
    <div class="div3">
        <div class="row">
            <div class="col-12 col-md-12"><h3 class="div3_text1">Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed.<br>Id neque aliquam vestibulum morbi blandit cursus risus at ultrices.<br> Aliquam id diam maecenas ultricies. Porttitor eget dolor morbi non.</h3></div>
        </div>
    </div>
    <div class="div4">
        <center>
            <h3>Enim neque Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <button type="button" class="btn btn-outline-primary btn_pers">Button</button>     <button type="button" class="btn btn-outline-danger btn_pers btn_centered">Button</button>    <button type="button" class="btn btn-outline-primary btn_pers">Button</button>
        </center>
    </div>
</body>
